.env
.env.example
.git
.github
node_modules
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log
__pycache__
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.egg
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.log
*.tmp
*.temp
*.bak
*.swp
*.old
*.rej
*.orig
*.bak
*.rej
*.orig
*.swp
*.swo
*.DS_Store
Thumbs.db